:root {
	--bg: #181020;
	--siro: #fff0e0;
	--aka: #e85060;
	--darkaka: #c83848;
	--pink: #ff90e8;
	--ao: #6070ff;
	--darkao: #4050e0;
	--midori: #18e880;
	--green: #10b484;
	--darkgreen: #089050;
	--ki: #ffdd40;
	--purple: #9060c0;
	--darkpurple:#602888;
	--cyan: #a0f8ff;
    --tan: #e8a878;
    --kuro: #383448;
	--midkuro: #241c30;
	--makkuro: #101040;
	--cream: #ffd8b0;
}

body {
	background-color: var(--bg);
	fill: var(--bg);
	font-family: "Mona","MS Gothic", sans-serif;
	font-size: 16px;
	color: var(--makkuro);
	line-height:1.5em;
	overflow-x:hidden;
	margin: 0;
	padding: 8px;
}	

a:link, a:visited{
	color: var(--ki);
	text-decoration: underline dotted;
}

.aflink {
	position: relative;
	text-align: center;
	font-size: 14px;
}

a:link.pinklink,
a:visited.pinklink {
	color: var(--pink);
}

h3>a:link,
h3>a:visited {
	color: var(--pink);
}

a:hover {
	text-decoration: underline solid;
	background-color: rgba(255,240,224,0.25);
}

.kyaratabs {
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	margin-bottom: 8px;
}
.kyaratabs>a {
	margin: 0 8px;
}

.secid {
	display:block;
	visibility:hidden;
	position:absolute;
	top:-256px;
	height:4px;
	width:4px;
}

li {
	list-style-type: none;
}

p {
	margin: 0px;
}

img {
	max-width: 100%;
}

rt {
	font-family: "Mona","MS PGothic",sans-serif;
	font-size:12px;
	line-height: 0;
}

hr {
	margin: 12px -24px 8px;
	border: 1px solid var(--bg);
}

h1 {
	font-family: "MS Gothic", sans-serif;
    font-size:22px;
    font-weight: bold;
    color:var(--ki);
	margin:16px 0 8px 0;
}

h2 {
	font-family: "MS Gothic", sans-serif;
    font-size:22px;
    font-weight: bold;
    color:var(--purple);
	margin:8px 0 16px 0;
}

h3 {
	font-family: "MS Gothic", sans-serif;
    font-size:20px;
    font-weight: bold;
    color:var(--pink);
	text-align:center;
	padding:8px;
	border-bottom:1px solid var(--pink);
}

#headcont {
	position: sticky;
	top:0;
	left:0;
	z-index: 24;
	width:100%;
	background-color:var(--bg);
	padding: 16px 0 4px;
	margin-top: -8px;
}
.head {
    margin:0 auto;
	text-align: center;
	width:85%;
    max-width:720px;
    min-width:448px;
	border: 1px solid var(--purple);
}

.pagination {
	width: 95%;
	margin: 8px auto;
	position: relative;
}

.post_body {
    width:85%;
    max-width:720px;
    min-width:448px;
    margin:8px auto;
}

.chat {
    background-color:var(--kuro);
	fill:var(--kuro);
	color:var(--siro);
    padding: 10px 16px 8px 16px;
	margin: 8px 0;
	position: relative;
}

.linklist {
	position: relative;
	background-color:var(--midkuro);
	padding: 4px 0;
}

table {
	width:100%;
	padding:0px 8px;
	table-layout:fixed;
	border-spacing:0;
}
tr {
	vertical-align:top;
}
td {
	padding:0;
}

.infoleft {
	padding-right:4px;
}
.inforight {
	padding-left:4px;
}

.chainprev {
	text-align:left;
}
.chainnext {
	text-align:right;
}

.pages {
	display: flex;
	flex-flow: row wrap;
	padding: 8px;
	margin: 0 0 8px;
	background: var(--kuro);
	justify-content: center;
}

.pages a {
	margin: 0px 8px;
}

ul {
	margin: 0;
}

.afentry {
	display: flex;
	flex-flow: row nowrap;
}
.aflinkyear {
	text-align:center;
	padding:0 16px;
	flex-grow:0;
	min-width: max-content;
}
.aflinkart {
	text-align:center;
	flex-grow:1;
	flex-basis:25%;
}
.vertmid {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/*
	text formatting
*/
t-r {
	color:var(--aka);
}
t-r2 {
	color:var(--darkaka);
}
t-g {
	color:var(--midori);
}
t-g2 {
	color:var(--green);
}
t-g3 {
	color:var(--darkgreen);
}
t-b {
	color:var(--ao);
}
t-b2 {
	color:var(--darkao);
}
t-y {
	color:var(--ki);
}
t-p {
	color:var(--purple);
}
t-p2 {
	color:var(--darkpurple);
}
t-w {
	color:var(--siro);
}
t-cr {
	color:var(--cream);
}
t-k {
	color:var(--kuro);
}
t-mk {
	color:var(--makkuro);
}
t-pi {
	color:var(--pink);
}

/*
	images
*/
.frogL,
.frogR {
	position:absolute;
	bottom:-120px;
}
.frogL {
	right:calc(100% + 32px);
}
.frogR {
	left:calc(100% + 32px);
	transform:scaleX(-1);
}

/*
	triangles lol
*/
.triR, 
.triL {
	position:absolute;
	bottom:0;
	fill:var(--kuro);
}
.triL {
	left:-20px;
}
.triR {
	right:-20px;
}
.triE {
	margin:0;
	fill:var(--cream);
}
.cornerR,
.topL {
	position:absolute;
	fill:var(--bg);
}
.nest {
	fill:inherit;
}
.cornerR {
	bottom:0;
	right:0;
}
.topL {
	top:0;
	left:0;
}

/*
	mobile text size fix
*/

@media only screen and (min-resolution: 2),
only screen and (-webkit-min-device-pixel-ratio: 2) {
	@media (pointer:coarse) and (hover:none) and (orientation:portrait), 
	not all and (pointer:coarse) and (hover:none) {
		body {
			-webkit-text-size-adjust: 100%;
			text-size-adjust: 100%;
			font-size: 24px;
		}

		.aflink {
			font-size: 20px;
		}

		h1, 
		h2 {
			font-size: 32px;
		}

		h3 {
			font-size: 30px;
		}

		.post_body {
			width:95%;
			max-width:1440px;
		}
		.head {
			width:95%;
			max-width:1440px;
		}

		.triL,
		.triR,
		.triE,
		.cornerR,
		.topL {
			transform:scale(1.5);
		}
		.cornerR {
			bottom:2.5px;
			right:2.5px;
		}
		.topL {
			top:2.5px;
			left:2.5px;
		}
	}
}