:root {
	--bg: #101018;
	--siro: #fff0e0;
	--aka: #e85060;
	--darkaka: #c83848;
	--pink: #ff90e8;
	--ao: #6070ff;
	--darkao: #4050e0;
	--midori: #18e880;
	--green: #10b484;
	--darkgreen: #089050;
	--ki: #ffdd40;
	--purple: #9060c0;
	--darkpurple:#602888;
	--cyan: #a0f8ff;
    --tan: #e8a878;
	--grey: #7a7090;
    --kuro: #383448;
	--makkuro: #141420;
	--cream: #ffd8b0;
	--maxw: 1024px;
	--minw: 480px;
}

body {
	background-color: var(--bg);
	font-family: "Mona","MS Gothic", sans-serif;
	font-size: 16px;
	color: var(--makkuro);
	line-height:1.5em;
	overflow-x:hidden;
}	

a {
	color: var(--ki);
	text-decoration: underline dotted;
}
h3>a {
	color: var(--siro);
}
a:hover {
	text-decoration: underline solid;
	background-color: rgba(255,240,224,0.25);
}
a[role="button"] {
	cursor:default;
}

li {
	list-style-type: none;
}

p {
	margin: 0px;
}

rt {
	font-family: "Mona","MS PGothic",sans-serif;
	font-size:12px;
	line-height: 0;
}

h1 {
	font-family: "MS Gothic", sans-serif;
    font-size:22px;
    font-weight: bold;
    color:var(--ki);
	margin:16px 0 8px 0;
}

h2 {
	font-family: "MS Gothic", sans-serif;
    font-size:22px;
    font-weight: bold;
    color:var(--purple);
	margin:8px 0 16px 0;
}

h3 {
    font-size:16px;
    font-weight: bold;
    color:var(--siro);
	text-align:center;
	padding:8px;
	background-color:var(--kuro);
	position:relative;
	margin:0;
	z-index:1;
}


.head {
    margin:16px auto;
	text-align: center;
	width:85%;
    max-width:var(--maxw);
    min-width:var(--minw);
	border: 1px solid var(--purple);
}

.pagination {
	width: 95%;
	margin: 8px auto;
	position: relative;
}

.post_body {
    width:85%;
    max-width:var(--maxw);
    min-width:var(--minw);
    margin:8px auto;
}

.chat,
.chatS {
    background-color:var(--makkuro);
	color:var(--siro);
    padding: 10px 16px 8px;
	margin: 0 0 16px;
	position: relative;
	overflow: hidden;
	top: 0;
	transition: max-height 0.5s ease-out, padding-top 0.5s ease-out, padding-bottom 0.5s ease-out, top 0.5s ease-out;
}
.chatS {
	font-size:14px;
}

.kyaratop {
	display:flex;
	flex-flow:row wrap;
}
.kyaranav {
	width:144px;
	margin-right: 16px;
	flex: 0 0 144px;
}
.kyaratabs {
	display:flex;
	flex-flow:column wrap;
	align-items:center;
	margin-bottom: 6px;
}

.traits,
.pros,
.cons {
	background-color:var(--bg);
	position:relative;
	padding: 8px 16px;
}
.traits>div,
.pros>div,
.cons>div {
	line-height: 1.1em;
	margin: 4px 0;
	padding-left: 12px;
	text-indent: -12px;
}

.traits {
	color:var(--ao);
}
.pros {
	color:var(--midori);
}
.cons {
	color:var(--aka);
}



.movelist {
	line-height:1.1em;
}
.atkcont {
	overflow:hidden;
	margin-bottom:24px;
}
.atkname {
	font-weight:bold;
	box-sizing:border-box;
	background-color:var(--bg);
	padding:4px 12px;
	position:relative;
	text-align:center;
}
.atkinput {
	font-weight:normal;
	color:var(--grey);
}
.atkimg {
	text-align:center;
	float:left;
	width:35%;
}
.atkimg>img {
	max-width:100%;
}
.atkinfo {
	line-height:1.2em;
	margin-left:35%;
	padding-left:16px;
}
.atkinfo>p {
	margin-left:3px;
}
.atkprop {
	display:flex;
	flex-flow:row wrap;
	text-align: center;
	margin-bottom: 6px;
}
.atkval {
	margin: 2px 0 4px;
}

.cost {
	width:100px;
	color:var(--ki);
	margin-right:4px;
}
.icp {
	width:48px;
	color:var(--ao);
	margin-right:4px;
}
.costcont{
	width:104px;
	flex:0 0 auto;
}
.icpcont {
	width:52px;
	flex:0 0 auto;
}

.dmg {
	color:var(--aka);
}
.dmg,
.grd {
	min-width:96px;
	margin-right: 4px;
}
.grdcont {
	min-width:100px;
	flex:0 0 auto;
}

.attrcont {
	flex:1 1;
}
.attrbox {
	display:flex;
	flex-flow:row wrap;
	justify-content:space-evenly;
	margin: 0 -6px;
}
.attrbox>div {
	font-weight:bold;
	margin:2px 8px 4px;
}

.attr,
.onhit {
	font-weight:bold;
	flex: 1 1;
}
.attr {
	color:var(--midori);
}
.onhit {
	color:var(--aka);
}
.spc {
	font-weight:bold;
	width:96px;
	margin-left:4px;
	flex:0 0 auto;
	color:var(--ao);
}

.vercont {
	display: flex;
	flex-flow: row nowrap;
}
.vercont>atkinput {
	font-family:"MS PGothic", sans-serif;
	font-size:12px;
}
.vername {
	background-color:var(--bg);
	position:relative;
	text-align:center;
	width:72px;
	flex:0 0 auto;
}

table {
	width:100%;
	padding:0px 8px;
	table-layout:fixed;
}
tr {
	vertical-align:top;
}

.note {
	border:1px dashed var(--ao);
	color:var(--ao);
    padding: 10px 16px 8px 16px;
	margin: 8px 0;
	position: relative;
}

.comment {
	color:var(--grey);
}

.pages {
	display: flex;
	flex-flow: row wrap;
	padding: 8px;
	margin: 0 0 8px;
	background: var(--kuro);
	justify-content: center;
}

.pages>a {
	margin: 0px 8px;
}

.hide {
	max-height: 16px !important;
	padding-top: 0px;
	padding-bottom: 0px;
	top: -16px;
}


/*
	screen size adjustments
*/


/* also wrap with cost */
@media only screen and (max-width: 752px) {
	.hascost>.grdcont {
		min-width:72px;
		flex:1 1 auto;
	}
	.hascost .dmg,
	.hascost .grd {
		min-width:72px;
		margin-right:0;
	}
	.hascost>.attrcont {
		display:flex;
		order:24;
		flex-flow:row nowrap;
		min-width:256px;
	}
	.hascost .attr {
		margin-right:2px;
		max-width:50%;
	}
	.hascost .onhit {
		margin-left:2px;
		max-width:50%;
	}
	.cost {
		width:92px;
	}
	.icp {
		width:44px;
	}
	.costcont{
		width:96px;
	}
	.icpcont {
		width:48px;
	}
	.spc {
		width:80px;
	}
}

/* wrap with only special*/
@media only screen and (max-width: 800px) {
	.hasspc>.grdcont {
		min-width:72px;
		flex:1 1 auto;
	}
	.hasspc .dmg,
	.hasspc .grd {
		min-width:72px;
		margin-right: 0;
	}
	.hasspc>.attrcont {
		display:flex;
		order:24;
		flex-flow:row nowrap;
		min-width:288px;
	}
	.hasspc .attr {
		margin-right:2px;
		max-width:50%;
	}
	.hasspc .onhit {
		margin-left:2px;
		max-width:50%;
	}
}

@media only screen and (max-width: 824px) {
	.kyaranav {
		width: 100%;
		margin: 0;
		flex: 1 0 100%;
	}
	.kyaratabs {
		flex-flow:row wrap;
		justify-content:center;
	}
	.kyaratabs>a {
		margin: 0 8px;
	}
}

/* wrap only with both cost and special */
@media only screen and (max-width: 900px) {
	.hasspc.hascost>.grdcont {
		min-width:72px;
		flex:1 1 auto;
	}
	.hasspc.hascost .dmg,
	.hasspc.hascost .grd {
		min-width:72px;
		margin-right:0;
	}
	.hasspc.hascost>.attrcont {
		display:flex;
		order:24;
		flex-flow:row nowrap;
		min-width:352px;
	}
	.hasspc.hascost .attr {
		margin-right:2px;
		max-width:50%;
	}
	.hasspc.hascost .onhit {
		margin-left:2px;
		max-width:50%;
	}
}



/*
	button images
*/
.dirimg {
	display: inline-block;
	vertical-align: text-top;
}
.dirimg.l {
	margin-left: 1px;
	margin-right: -1px;
}
.dirimg.r {
	margin: 0 1px;
}

/*
	text formatting
*/
t-r {
	color:var(--aka);
}
t-r2 {
	color:var(--darkaka);
}
t-g {
	color:var(--midori);
}
t-g2 {
	color:var(--green);
}
t-g3 {
	color:var(--darkgreen);
}
t-b {
	color:var(--ao);
}
t-b2 {
	color:var(--darkao);
}
t-y {
	color:var(--ki);
}
t-p {
	color:var(--purple);
}
t-p2 {
	color:var(--darkpurple);
}
t-w {
	color:var(--siro);
}
t-cr {
	color:var(--cream);
}
t-k {
	color:var(--kuro);
}
t-mk {
	color:var(--makkuro);
}
t-pi {
	color:var(--pink);
}
t-cy {
	color:var(--cyan);
}
t-gr {
	color:var(--grey);
}

/*
	triangles lol
*/
.triR, 
.triL {
	position:absolute;
	bottom:0;
	fill:var(--kuro);
}
.triL {
	left:-20px;
}
.triR {
	right:-20px;
}

.cornerR,
.cornerL,
.topR,
.topL {
	position:absolute;
	fill:var(--bg);
}
.nest {
	fill:var(--makkuro);
}

.cornerR {
	bottom:0;
	right:0;
}
.movelist>.cornerR {
	z-index:1;
}
.cornerL {
	bottom:0;
	left:0;
}
.topR {
	top:0;
	right:0;
}
.topL {
	top:0;
	left:0;
}