:root {
	--dir-fill: var(--midgrey);
	--dir-maru: var(--makkuro);
}

.bug_kyara_cont {
	display:	flex;
	flex-flow:	row wrap;
	text-align:	center;
	justify-content:	space-evenly;
}
.bug_kyara_cont>* {
	flex-shrink:	0;
	flex-basis:		25%;
}
#kyara_stat_cont {
	width:		100%;
	display:	flex;
	flex-flow:	row-reverse;
}
#kyara_stats {

}
span.frame {
	font-family: "MS Gothic", monospace;
}
div.move_table {
	margin-top: 1em;
}
.move {	
	display: flex;
	gap: 8px;
	margin-bottom: 8px;
}
.move_left	{	width: 35%;	}
.move_right	{	width: 65%;	}
.move_name,
div.move_img,
div.move_prop {	
	position: relative;
	line-height: 1.1em;
	text-align: center;
}
.move_name {
	position:		relative;
	line-height:	1.1em;
	padding:		0.25em 0.25em;
	margin-bottom:	8px;
	background-color:	var(--bg);
	border-color:		var(--makkuro);
}
div.move_prop	{	
	background-color: var(--bg);	
	border-color: var(--makkuro);
	margin-bottom: 8px;
}
div.move_desc	{	width: 100%;	}
div.move_input	{	
	color:		var(--lightgrey);
	margin:		0 2em;
	border:		1px solid var(--makkuro);
	--dir-fill:	var(--darkgrey);
	--dir-maru: var(--bg);
}

div.move_img>img,
div.move_img>a>img {
	position:	relative;
	z-index:	2;
}
div.move_img>a {
	display:	block;
}

svg.dirimg {
	position:	relative;
	top:		1px;
}
svg.dirimg.r {
	margin-left: -1px;
	margin-right: 2px;
}

span.spimg,
span.eximg,
span.hp {
	font-weight:	bold;
	font-family:	"Mona", "MS Gothic", monospace;
}

span.spimg {	color:	var(--ki);	}
span.eximg {	color:	var(--cyan);	}
span.hp {	color:	var(--aka);	}

img.spimg,
img.eximg {
	position:	relative;
	margin-top:	-2px;
	top:		2px;
	width:		15px;
}

.tri_topC::after {
	content:				"";
	position:				absolute;
	top:					-8px;
	left:					8px;
	border-right: 			20px solid;
	border-right-color:		var(--bg);
	border-bottom: 			20px solid transparent;
}

@media screen and (width < 800px) {
	.move	{	flex-wrap: wrap;	}
	.move_left,
	.move_right	{	
		width: 100%;
	}
}