:root {
	--bg: #181020;
	--siro: #fff0e0;
	--aka: #e85060;
	--pink: #ff90e8;
	--ao: #6070ff;
	--midori: #18e880;
	--ki: #ffdd40;
	--purple: #9060c0;
	--cyan: #a0f8ff;
    --tan: #e8a878;
    --kuro: #383448;
	--makkuro: #101040;
	--cream: #ffd8b0;
}

body {
	background-color: var(--bg);
	font-family: "Mona","MS Gothic", sans-serif;
	font-size: 12pt;
	color: var(--makkuro);
	line-height:1.5em;
}	

a:link, a:visited{
	color: var(--siro);
	text-decoration: underline dotted;
}

a:hover {
	text-decoration: underline solid;
	background-color: rgba(255,240,224,0.25);
}

p {
	margin: 0px;
}

rt {
	font-family: "Mona","MS PGothic",sans-serif;
	font-size:9pt;
	line-height: 0;
}

h1 {
	font-family: "MS Gothic", sans-serif;
    font-size:16pt;
    font-weight: bold;
    color:var(--ki);
	margin:16px 0 8px 0;
}

h2 {
	font-family: "MS Gothic", sans-serif;
    font-size:16pt;
    font-weight: bold;
    color:var(--purple);
	margin:8px 0 16px 0;
}

h3 {
    font-size:12pt;
    font-weight: bold;
    color:var(--siro);
	text-align:center;
	padding:8px;
	border:1px dashed var(--siro);
	background-color: var(--kuro);
}


.head {
    margin:16px auto;
	text-align: center;
	width:80%;
    max-width:720px;
    min-width:256px;
	border: 1px solid var(--purple);
}

.post_body {
    width:80%;
    max-width:720px;
    min-width:256px;
    margin:8px auto 96px auto;
}

.chat {
    background-color:var(--kuro);
	color:var(--siro);
    padding: 10px 16px 8px 16px;
	margin: 8px 0;
	position: relative;
}

.reibun {
    background-color:var(--cream);    
    padding: 10px 16px 8px 16px;
	margin: 0;
}

.reibun table {
	width:100%;
	padding:0px 8px;
}

.reibun-top {
	height:12px;
	font-size:0;
}

.reibun-head {
	width:60px;
	text-align:center;
	background-color:var(--cream);
	font-size: 9pt;
	padding: 2px 0 0 4px;
	line-height:0.8;
	display: inline-block;
	position:relative;
	top:-1px;
}

/*
	text formatting
*/
t-r {
	color:var(--aka);
}
t-g {
	color:var(--midori);
}
t-b {
	color:var(--ao);
}
t-y {
	color:var(--ki);
}
t-p {
	color:var(--purple);
}
t-w {
	color:var(--siro);
}
t-k {
	color:var(--kuro);
}
t-mk {
	color:var(--makkuro);
}


/*
	triangles lol
*/
.triR {
	position:absolute;
	right:-20px;
	bottom:0;
	fill:var(--kuro);
}
.triL {
	position:absolute;
	left:-20px;
	bottom:0;
	fill:var(--kuro);
}
.triE {
	margin:0;
	fill:var(--cream);
}
