.post_box::before, .af_for::before,
.af_chain_info::after, .af_user_info::after,
.post_box::after,
.af_user_info::before,
.af_chain_link::after, .af_chain_link::before,
.af_chain_info>.af_thumb_title::after, 
.af_chain_info>.af_thumb_title::before,
.af_chain_head::before, .af_chain_head::after,
.af_thumb>span::after {
	content:	"";
	position:	absolute;
}

.post_box::before, .af_for::before {
	top: 0;	left: 8px;
	border-width:	0 20px 20px 0;
	border-style:	solid;
	border-color:	var(--bg) var(--bg) transparent;
}

.af_for::before {
	top: 1lh;
	border-color:	var(--makkuro) var(--makkuro) transparent;
}

.af_chain_info::after, .af_user_info::after,
.post_box::after {
	left: 0;	right: 0;	bottom: 0;
	border-color: transparent var(--bg);
	border-style: solid solid none;
	border-width: 12px;
}

.af_user_info::before {
	top: 0;	right: 0;
	border-style:	solid;
	border-width:	12px 0 0 12px;
	border-color:	inherit;
	border-left-color:	transparent;
}

.af_sections {
	display:		flex;
	text-align:		center;
	margin:			8px 0;
}
.af_sections>li {
	width: 		100%;
}
.af_year_top { background-color: var(--bg); }
h3.double>*, h3.af_top>* { 
	display: block;
	text-align: center;
}
h3.double::before, h3.af_top::before {
	position:	absolute;
	top: 		1.5rem;
}
h3.double::after	{ top: 1.875rem; }

h3.af_top::before	{ top: 1.375rem; }
h3.af_top::after	{ top: 1.625rem; }

h3>a:link {	padding: 0; }
img { display: inline-block; }
.hover {
	width:		640px;
	height:		360px;
	display:	inline-block;
}
.hover:hover {
	background-position-y:	360px !important;
}
.af_title {
	position:	relative;
	top:		4px;
	font-size:	1.25rem;
}
.af_img {
	text-align:		center;
	line-height:	0;
}
.af_img>a,
.af_img>label {
	display:	inline-block;
}
.af_desc {
	line-height:	1.5rem;
	text-align:		center;
	margin-top:		.25rem;
}
.af_desc img {
	position:	relative;
	max-height: 1.5rem;
	bottom:		.2rem;
	vertical-align: middle;
}
.af_desc img.full {
	max-height: unset;
}

.af_img>label>img { height: auto; width: auto; }
.af_img>label>img,
.af_img>video {
	max-height:	50vh;
	position:	relative;
	z-index:	1;
}
.af_img>label>img:hover {
	cursor:	zoom-in;
	background-color: var(--hover);
}
.af_img>label>input[type=checkbox]:checked+.lightbox {
	display:	block;
}
.lightbox {
	display:	none;
	position:	fixed;
	top:		0;
	left:		0;
	width:		100vw;
	height:		100vh;
	background-color:	#000000E0;
	cursor:		zoom-out;
	z-index:	32;
}
.lightbox>img {
	position:	relative;
	max-width:		100vw;
	max-height:		100vh;
	top: 		50%;
 	transform:	translateY(-50%);
}

.af_nav {
	margin:		0 16px;
	text-align:	center;
	position:	relative;
	font-size:	.875rem;
	top:		-4px;
}
.af_nav>a {
	display:	inline-block;
	color:		var(--pink);
}
.af_nav_prev { position: absolute; left: 0; }
.af_nav_next { position: absolute; right:0; }

section { position: relative; }
.af_meta_info {
	display:		flex;
	gap:			8px;
	margin-bottom:	8px;
	padding-top:	.25rem;
}
.af_meta_info>div {
	width: 100%;
	z-index: 2;
}
ul, ol, dl { margin: 0; }
dd {
	margin-left:	1.5rem;
	display:		list-item;
	list-style-type: "・　";
}
.af_user_info {
	position:			relative;
	background-color:	var(--bg);
	border-color:		var(--makkuro);
	padding:			8px 40px;
}
.af_user_info>dt:nth-child(n+2) {
	margin-top:	.5rem;
	padding-top: .5rem;
	border-top: 1px solid var(--makkuro);
}
.af_for {
	position: 			relative;
	font-weight:		bold;
	padding-left:		8px;
	border-color:		var(--makkuro);
	z-index:			1;
}
.af_kome {
	text-align:		center;
	padding-top:	.5rem;
}
h4, h4::after { all: unset; }
hr { margin-top: 1.25rem; }
.af_hr { margin-top: 2rem; }

.af_chain_head {
	text-align:		center;
	font-weight:	bold;
	font-family:	var(--next_font);
	position:		absolute;
	z-index:		1;
	width:			10em;
	line-height:	1.5em;
	top:			calc(-1em - 4px);
	left:			0;
	right:			0;
	margin:			0 auto;
}
.af_chain_head::before, .af_chain_head::after {
	left:				0;
	right:				0;
	border-width:		0 .75em;
	border-style:		solid;
	border-color:		transparent;
	z-index:			-1;
}
.af_chain_head::before {
	bottom:			0;
	border-top: 	.75em solid var(--bg);
}
.af_chain_head::after {
	top:			0;
	border-bottom:	.75em solid var(--bg);
}

.af_chain_info {
	display: 			flex;
	flex-flow:			row nowrap;
	justify-content:	space-between;
	background-color:	var(--bg);
	margin-bottom:		.25rem;
	position:			relative;
	top:				-.5rem;
	border-color:		var(--makkuro);
}
.af_chain_info::after, .af_user_info::after {
	border-color: transparent var(--makkuro);
}

.af_chain_prev,
.af_chain_next {
	position:	relative;
	top:		-.5rem;
	width:		100%;
	background-color:	var(--bg);
	border-color:		var(--makkuro);
}

.af_chain_link {
	position: 	relative;
	margin-top:	-2px;
}
.af_chain_prev>.af_thumb_title,
.af_chain_next>.af_thumb_title {
	height:	calc(100% - 8px);
}
.af_chain_link.prev {
	margin-left:	-28px;
	padding-left:	 28px;
}
.af_chain_link.next {
	margin-right:	-28px;
	padding-right:	 28px;
}
/* chain decorative arrows: top */
.af_chain_link::after, .af_chain_link::before {
	pointer-events: none;
	border-style: none none solid;
}
.af_chain_link::before {
	bottom: 28px;
	border-width: 0 3rem 3rem;
	border-color: var(--bg) var(--makkuro);
}
.af_chain_link::after {
	bottom: 4px;
	border-width: 0 4rem 4rem;
	border-color: var(--makkuro) transparent;
}
.af_chain_link.prev::before, .af_chain_link.prev::after {
	left: 0;
	border-right-style:	solid;
}
.af_chain_link.next::before, .af_chain_link.next::after {
	right: 0;
	border-left-style:	solid;
}
/* chain decorative arrows: bottom */
.af_chain_info>.af_thumb_title::after, 
.af_chain_info>.af_thumb_title::before {
	bottom: -1.25rem;
	z-index: 8;
	border-color:	var(--makkuro) transparent;
	border-style:	none none solid;
	border-width:	5.25rem;
}
.af_chain_info>.af_thumb_title::before {
	border-bottom-color: var(--bg);
}
.af_thumb_title.prev::before {
	left: 224px;  	border-right-style: solid;
}
.af_thumb_title.prev::after {
	left: 216px;	border-right-style: solid;
}
.af_thumb_title.next::before {
	right: 224px;	border-left-style: solid;
}
.af_thumb_title.next::after {
	right: 216px;	border-left-style: solid;
}
/* thumbnails */
figure { margin: 0; }
figure.af_thumb {
	position:	relative;
	box-sizing:	border-box;
	margin:		4px 0 0 4px;
	width:		100%;
	max-width:	200px;
}
.af_thumb>figcaption {
	padding: 0 4px;
	font: bold 1rem var(--next_font);
	word-wrap: break-word;
	overflow-wrap: break-word;
}
img.af_thumb {
	object-fit:		none;
	width:			100%;
	max-width:		200px;
	max-height:		200px;
}
.af_thumb_box {
	margin-top:	1rem;
	display:	flex;
	flex-flow:	row wrap;
	gap:		16px 8px;
	align-items:		stretch;
	justify-content:	space-evenly;
}
.af_thumb_title {
	position:		relative;
	background-color:	var(--bg);
	border-color:		var(--makkuro);
	width:			100%;
	padding:		4px;
	min-width:		108px;
	max-width:		208px;
	text-align:		center;
	flex-shrink:	1;
}
.af_thumb_title>a {
	color: var(--siro);
}
.af_thumb>span {
	float:			left;
	position:		relative;
	bottom:			1.5rem;
	margin-bottom:	-1.5rem;
	font-family:	var(--mono_font);
}
.af_thumb>span>span {
	background-color:	var(--bg);
	padding:			4px 8px;
}
.af_thumb>span::after {
	position:	relative;
	bottom:		1.25rem;
	border-right: 	1rem solid transparent;
	border-bottom: 	1.5rem solid var(--bg);
}

.Bloom			{ color: #a1af4e !important; }
.Wither			{ color: #bd6c96 !important; }
.Werewolves		{ color: #498cad !important; }
.Vampires		{ color: #e6466c !important; }
.Seafoam		{ color: #51b083 !important; }
.Stardust		{ color: #877feb !important; }

a.Bloom:hover,		a.Wither:hover,
a.Werewolves:hover,	a.Vampires:hover,
a.Seafoam:hover,	a.Stardust:hover {
	color: var(--siro) !important;
}

.af_nav_title::after { content: " • "; }
@media only screen and (min-width:1360px) and (max-width:1440px) {
	.af_nav_title { display: none; }
	.af_nav_title::after { content: ""; }
}