{% capture triL %}
	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="triL">
		<path d="M0 0H20V20z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}	
{% capture triR %}
	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="triR">
		<path d="M20 0H0V20z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}
{% capture triE %}
	<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="triE">
		<path d="M0 0V12H12z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}
{% capture reibuntop %}
	<div class="reibun-head">EXAMPLE</div>{{ triE }}
{% endcapture %}
{% capture maru %}
	<b><t-b>〇</t-b></b>
{% endcapture %}
{% capture batsu %}
	<b><t-r>×</t-r></b>
{% endcapture %}