<!--worthless-->
{% capture pnc %}{{ page.check }}{% endcapture %}
{% capture pagination %}
	<div class="pagination">
		<span style="margin:auto"><a href="/jp">index</a></span>
		{% if pnc contains 'p' %}
		<span style="position:absolute;left:0"><a href="/jp/p{{ page.prv }}">« prev</a></span>
		{% endif %}
		{% if pnc contains 'n' %}
		<span style="position:absolute;right:0"><a href="/jp/p{{ page.nxt }}">next »</a></span>
		{% endif %}
	</div>
{% endcapture %}
<!--page elements-->
{% capture triL %}
	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="triL">
		<path d="M0 0H20V20z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}	
{% capture triR %}
	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="triR">
		<path d="M20 0H0V20z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}
{% capture triE %}
	<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="triE">
		<path d="M0 0V12H12z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}
{% capture cornerR %}
	<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="cornerR">
		<path d="M0 12H12V0z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}
{% capture reibuntop %}<div class="reibun-top"><div class="reibun-head">EXAMPLE</div>{{ triE }}</div>{% endcapture %}
{% capture mondaitop %}<div class="reibun-top"><div class="reibun-head">EXERCISE</div>{{ triE }}</div>{% endcapture %}

<!--symbols-->
{% capture maru %}<b><t-g>〇</t-g></b>{% endcapture %}
{% capture batsu %}<b><t-r>×</t-r></b>{% endcapture %}

<!--frogs-->
{% capture imgL %}<div class="frogL">{% endcapture %}
{% capture imgR %}<div class="frogR">{% endcapture %}
{% capture frog_n %}<img src="https://i.imgur.com/RgCZh8k.png"/>{% endcapture %}
{% capture frog_k %}<img src="https://i.imgur.com/WMcg8wS.png"/>{% endcapture %}
{% capture frog_t %}<img src="https://i.imgur.com/mTSmVf6.png"/>{% endcapture %}
{% capture frog_p %}<img src="https://i.imgur.com/wzZGAn9.png"/>{% endcapture %}
{% capture frog_w %}<img src="https://i.imgur.com/DSeSR1b.png"/>{% endcapture %}
{% capture frog_s %}<img src="https://i.imgur.com/JM65vB5.png"/>{% endcapture %}
{% capture frog_sh %]<img src="https://i.imgur.com/mIOesdA.png"/>{% endcapture %}
{% capture owl_n %}<img src="https://i.imgur.com/sViu0Xj.png"/>{% endcapture %}