<!--page elements-->
{% capture triL %}
	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="triL">
		<path d="M0 0H20V20z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}
{% capture triR %}
	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="triR">
		<path d="M20 0H0V20z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}
{% capture triE %}
	<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="triE">
		<path d="M0 0V12H12z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}
{% capture cornerR %}
	<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="cornerR">
		<path d="M0 12H12V0z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}
{% capture kakugepages %}
<div style="margin-bottom:64px"/>
	<div class="head">
	<div class="pagination">
		<div><span style="margin:auto"><a href="/bug" style="color:var(--siro)"><b>index</b></a></span></div>
		<div class="pages">
			<a href="/bug/kyara">Characters</a>
			<a href="/bug/system">System</a>
		</div>
		
		<div><span style="margin:auto"><a href="/bug/kyara" style="color:var(--siro)"><b>characters</b></a></span></div>
		<div class="pages">
			<a href=".">Aria</a>
			<a href=".">Delilah</a>
			<a href=".">Everlasting King</a>
			<a href=".">Kabbu</a>
			<a href=".">Kina</a>
			<a href=".">Leif</a>
			<a href=".">Maki</a>
			<a href=".">Monsieur Scarlet</a>
			<a href=".">Mothiva</a>
			<a href=".">Riz</a>
			<a href=".">Stratos</a>
			<a href=".">Vi</a>
			<a href=".">Wasp King</a>
		</div>
	</div>
	<h2></h2>
	</div>
{% endcapture %}

<!--buttons-->
{% capture A %}<t-g><b>A</b></t-g>{% endcapture %}
{% capture B %}<t-y><b>B</b></t-y>{% endcapture %}
{% capture C %}<t-r><b>C</b></t-r>{% endcapture %}
{% capture D %}<t-pi><b>D</b></t-pi>{% endcapture %}
{% capture X %}<t-p><b>X</b></t-p>{% endcapture %}
{% capture 236 %}<b>236</b>{% endcapture %}
{% capture 214 %}<b>214</b>{% endcapture %}
{% capture S %}<t-b><b>S</b></t-b>{% endcapture %}