<!--page elements-->
{% capture triL %}
	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="triL">
		<path d="M0 0H20V20z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}
{% capture triR %}
	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="triR">
		<path d="M20 0H0V20z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}
{% capture triE %}
	<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="triE">
		<path d="M0 0V12H12z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}
{% capture cornerR %}
	<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="cornerR">
		<path d="M0 12H12V0z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}
{% capture kakugepages %}
<div style="margin-bottom:64px"/>
	<div class="head">
	<div class="pagination">
		<div><span style="margin:auto"><a href="/bug" style="color:var(--siro)"><b>index</b></a></span></div>
		<div class="pages">
			<a href="/bug/kyara">Characters</a>
			<a href="/bug/system">System</a>
		</div>
		
		<div><span style="margin:auto"><a href="/bug/kyara" style="color:var(--siro)"><b>characters</b></a></span></div>
		<div class="pages">
			<a href=".">Aria</a>
			<a href=".">Delilah</a>
			<a href=".">Everlasting King</a>
			<a href=".">Kabbu</a>
			<a href=".">Kina</a>
			<a href=".">Leif</a>
			<a href=".">Maki</a>
			<a href=".">Monsieur Scarlet</a>
			<a href=".">Mothiva</a>
			<a href=".">Riz</a>
			<a href=".">Stratos</a>
			<a href="/bug/kyara/vi">Vi</a>
			<a href=".">Wasp King</a>
		</div>
	</div>
	<h2></h2>
	</div>
{% endcapture %}

<!--buttons-->
{% capture A %}<t-g><b>A</b></t-g>{% endcapture %}
{% capture B %}<t-y><b>B</b></t-y>{% endcapture %}
{% capture C %}<t-r><b>C</b></t-r>{% endcapture %}
{% capture D %}<t-cy><b>D</b></t-cy>{% endcapture %}
{% capture S %}<t-b><b>S</b></t-b>{% endcapture %}
{% capture X %}<t-p><b>X</b></t-p>{% endcapture %}
{% capture n1 %}<b>1</b>{% endcapture %}
{% capture n2 %}<b>2</b>{% endcapture %}
{% capture n3 %}<b>3</b>{% endcapture %}
{% capture n4 %}<b>4</b>{% endcapture %}
{% capture n5 %}<b>5</b>{% endcapture %}
{% capture n6 %}<b>6</b>{% endcapture %}
{% capture n7 %}<b>7</b>{% endcapture %}
{% capture n8 %}<b>8</b>{% endcapture %}
{% capture n9 %}<b>9</b>{% endcapture %}
{% capture d0 %}<img class="dirimg" src="https://i.imgur.com/3ayiBq4.png" />{% endcapture %}
{% capture d1 %}<img class="dirimg" src="https://i.imgur.com/OKUncib.png" />{% endcapture %}
{% capture d2 %}<img class="dirimg" src="https://i.imgur.com/hlmBlHq.png" />{% endcapture %}
{% capture d3 %}<img class="dirimg" src="https://i.imgur.com/xL73sP6.png" />{% endcapture %}
{% capture d4 %}<img class="dirimg" src="https://i.imgur.com/J5b1Spx.png" />{% endcapture %}
{% capture d5 %}<img class="dirimg" src="https://i.imgur.com/nPeW79Q.png" />{% endcapture %}
{% capture d6 %}<img class="dirimg" src="https://i.imgur.com/Imoxl2B.png" />{% endcapture %}
{% capture d7 %}<img class="dirimg" src="https://i.imgur.com/tebZ5n0.png" />{% endcapture %}
{% capture d8 %}<img class="dirimg" src="https://i.imgur.com/5RbSsf5.png" />{% endcapture %}
{% capture d9 %}<img class="dirimg" src="https://i.imgur.com/Yqy64BN.png" />{% endcapture %}
{% capture d236 %}<img class="dirimg" src="https://i.imgur.com/xsFtMbl.png" />{% endcapture %}
{% capture d214 %}<img class="dirimg" src="https://i.imgur.com/HOh7eZJ.png" />{% endcapture %}
{% capture d41236 %}<img class="dirimg" src="https://i.imgur.com/mY5cZkt.png" />{% endcapture %}