<div style="margin-bottom:64px"/>
	<div class="head">
	<div class="pagination">
		<div><span style="margin:auto"><a href="/bug" style="color:var(--siro)"><b>index</b></a></span></div>
		<div class="pages">
			<a href="/bug/kyara">Characters</a>
			<a href="/bug/system">System</a>
			<a href="/bug/attributes">Move Attributes</a>
		</div>
		
		<div><span style="margin:auto"><a href="/bug/kyara" style="color:var(--siro)"><b>characters</b></a></span></div>
		<div class="pages">
			<a href=".">Aria</a>
			<a href=".">Bokobot</a>
			<a href=".">Delilah</a>
			<a href=".">Everlasting King</a>
			<a href="/bug/kyara/kabbu">Kabbu</a>
			<a href=".">Kina</a>
			<a href="/bug/kyara/leif">Leif</a>
			<a href=".">Maki</a>
			<a href=".">Monsieur Scarlet</a>
			<a href="/bug/kyara/mothiva">Mothiva</a>
			<a href=".">Riz</a>
			<a href=".">Stratos</a>
			<a href=".">Verdigris</a>
			<a href="/bug/kyara/vi">Vi</a>
			<a href=".">Wasp King</a>
		</div>
	</div>
	<div style="margin: 8px 0 16px"></div>
	</div>