<div style="margin-bottom:64px"/>
	<div class="head">
	<div class="pagination">
		<div><span style="margin:auto"><a href="/bug" style="color:var(--siro)"><b>index</b></a></span></div>
		<div class="pages">
			<a href="/bug/kyara">Characters</a>
			<a href="/bug/system">System</a>
		</div>
		
		<div><span style="margin:auto"><a href="/bug/kyara" style="color:var(--siro)"><b>characters</b></a></span></div>
		<div class="pages">
			<a href=".">Aria</a>
			<a href=".">Delilah</a>
			<a href=".">Everlasting King</a>
			<a href=".">Kabbu</a>
			<a href=".">Kina</a>
			<a href=".">Leif</a>
			<a href=".">Maki</a>
			<a href=".">Monsieur Scarlet</a>
			<a href=".">Mothiva</a>
			<a href=".">Riz</a>
			<a href=".">Stratos</a>
			<a href="/bug/kyara/vi">Vi</a>
			<a href=".">Wasp King</a>
		</div>
	</div>
	<h2></h2>
	</div>