<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.year }} {{ page.title }}</title>
		{% include artfight-head.html %}
	</head>
	{% assign pg = page.year | append: "_" | append: page.type %}
	{% assign pg = site.data.af[pg] %}
	{% if page.type == "atk" %}
		{% assign otherpg = page.year | append: "_def" %}
		{% assign othertype = "def" %}
	{% else %}
		{% assign otherpg = page.year | append: "_atk" %}
		{% assign othertype = "atk" %}
	{% endif %}
	{% assign otherpg = site.data.af[otherpg] %}
	{% assign sakka = site.data.af.sakka %}
	{% assign kyara = site.data.af.kyara %}
	{% assign teams = site.data.af.teams %}
	<body>
		<div id="page_cont">
			{% assign subtitle = "art fight " | append: page.year %}
			{% include top_bar.html title=page.title subtitle=subtitle %}

			{% assign nav = pg.navi %}
			{% if nav.rel %}
				{% assign nav = site.data.navilists[nav.rel] %}
			{% endif %}
			<nav id="page_nav_cont" aria-labelledby="page_nav_head">
				<section id="seq_nav">
					{% case page.type %}
						{% when "atk" %}<a id="prev_nav" href="../">« {{ page.year }} overview</a>
						{% when "def" %}<a id="prev_nav" href="../atk/">« {{ page.year }} attacks</a>
						{% when "mix" %}<a id="prev_nav" href="../def/">« {{ page.year }} defenses</a>
					{% endcase %}
					<a href="/af/{{ page.year }}" id="home_nav">{{ page.year }} overview</a>
					{% assign yearcheck = page.year | plus: 1 | append: "" %}
					{% assign yearcheck = site.data.af_top.content | where: "year", yearcheck %}
					{% if page.type == "atk" %}
					<a id="next_nav" href="../def/">{{ page.year }} defenses »</a>
					{% elsif page.type == "def" %}
						{% if page.year == '2022' %}
						<a id="next_nav" href="../mix/">{{ page.year }} mass defenses »</a>
						{% elsif yearcheck %}
						<a id="next_nav" href="../../{{ page.year | plus: 1 }}/">{{ page.year | plus: 1 }} index »</a>
						{% endif %}
					{% elsif page.type == "mix" %}
					<a id="next_nav" href="../../{{ page.year | plus: 1 }}/">{{ page.year | plus: 1 }} index »</a>
					{% endif %}
				</section>

				<div id="page_nav_head">contents</div>
				<section id="page_nav">
				{% for s in pg.content %}
					{% assign zeroIndex = forloop.index | prepend: '00' | slice: -2, 2 %}
					{% assign team = s.for | default: s.by %}
					{% assign team = sakka[team].team[page.year] %}
					<a href="#{{ zeroIndex }}" style="color: {{ teams[team].color }}">#{{ zeroIndex }}</a>
				{% endfor %}
				</section>
			</nav>
			<main id="post_body">
				{% for s in pg.content %}
				{% assign zeroIndex = forloop.index | prepend: '00' | slice: -2, 2 %}
				{% assign team = s.for | default: s.by %}
				{% assign team = sakka[team].team[page.year] %}
				<section>
					<h3 id="{{ zeroIndex }}" class="double">
						<a href="#{{ zeroIndex }}" style="color: {{ teams[team].color }}"><span class="af_number">[{{ zeroIndex }}]</span></a>
						<span class="af_title">{{ s.title }}</span>
					</h3>
					<div class="post_box tri_topA tri13">
						<div class="af_nav">
							{% unless forloop.first %}
							<a class="af_nav_prev" href="#{{ forloop.index | minus: 1 | prepend: '00' | slice: -2, 2 }}">« prev</a>
							{% endunless %}
							<a class="af_nav_view" href="{{ s.link }}">view on Art Fight</a>
							{% unless forloop.last %}
							<a class="af_nav_next" href="#{{ forloop.index | plus: 1 | prepend: '00' | slice: -2, 2 }}">next »</a>
							{% endunless %}
						</div>
						{% assign img = s.filetype | default: ".png" | prepend: zeroIndex %}
						<figure class="af_img">
							{% if s.filetype == ".mp4" %}
								<video controls><source src="{{ img }}">
								{% if s.vtt %}
									<track default kind="captions" srclang="en" src="{{ s.vtt }}" />
								{% endif %}
								</video>
							{% else %}
								<a href="{{ img }}" target="_blank" rel="noopener noreferrer"><img src="{{ img }}" alt="{{ s.alt }}"></a>
							{% endif %}
							{% assign slicesize = s.desc | markdownify | size | minus: 8 %}
							<figcaption class="af_desc">{{ s.desc | markdownify | slice: 3,slicesize }}</figcaption>
						</figure>
						<hr>
						<div class="af_meta_info">
							<div>
								<div class="af_for tri_topC">
								{% assign artist = s.by | default: s.for %}
								{%   if s.for %}for
								{% elsif s.by %}by
								{% endif %}
								</div>
								<div class="af_user_info tri9 tri13">
									<div class="af_user"><a href="{{ sakka[artist].af }}" style="color: {{ teams[team].color }}">{{ artist }}</a></div>
									{% if sakka[artist].sites %}
									<div>
										{% for site in sakka[artist].sites %}
										<div>・ <a href="{{ site.link }}" class="PI">{{ site.name }}</a></div>
										{% endfor %}
									</div>
									{% endif %}
								</div>
							</div>
							<div>
								<div class="af_for tri_topC">Character{% if s.kyara.size > 1 %}s{% endif %}</div>
								<div class="af_user_info tri9 tri13">
									{% for chr in s.kyara %}
									<div class="af_user"><a href="{{ kyara[chr].link }}"{% if kyara[chr].mine %} class="PI"{% endif %}>{{ kyara[chr].name }}</a></div>
									{% endfor %}
								</div>
							</div>
						</div>
						{% if page.type == "def" %}{% unless s.nokome %}
						<hr style="margin-top: 16px;">
						<div style="position:relative">
							<div class="af_chain_head tri13 tri79">doodle response</div>
							<div class="af_kome">
								{% if s.komehover %}
									<div class="hover" style="background: url('../kome/{{ s.kometype | default: '.png' | prepend: zeroIndex }}')0 0"></div>
								{% else %}
									<img src="../kome/{{ s.kometype | default: '.png' | prepend: zeroIndex }}" alt="{{ s.komealt }}">
								{% endif %}
							</div>
						</div>
						{% endunless %}{% endif %}
						{% if s.next or s.prev %}
						<hr style="margin-top: 16px;">
						<div style="position:relative">
							<div class="af_chain_head tri79">revenge chain</div>
							<div class="af_chain_info">	
								<div class="af_chain_prev tri1">
								{% if s.prev %}
									{% assign pIndex = s.prev | minus: 1 %}
									<a class="af_chain_link PI" href="../{{ othertype }}#{{ s.prev }}" target="_blank" rel="noopener noreferrer">
										<div class="af_chain_prev_link">« prev chain</div>
										<div class="af_chain_prev_title">{{ otherpg.content[pIndex].title }}</div>
										<div class="af_chain_thumb"><img src="../{{ othertype }}/thumbs/{{ s.prev }}.png" alt=""></div>
									</a>
								{% endif %}
								</div>
								<div class="af_chain_next tri3">
								{% if s.next %}
									{% assign nIndex = s.next | minus: 1 %}
									<a class="af_chain_link PI" href="../{{ othertype }}/#{{ s.next }}" target="_blank" rel="noopener noreferrer">
										<div class="af_chain_next_link">next chain »</div>
										<div class="af_chain_next_title">{{ otherpg.content[nIndex].title }}</div>
										<div class="af_chain_thumb"><img src="../{{ othertype }}/thumbs/{{ s.next }}.png" alt=""></div>
									</a>
								{% endif %}
								</div>
							</div>
						</div>
						{% endif %}
					</div>
				</section>
				{% endfor %}
			
				{% include last_updated.html date=pg.lastupdated %}
			</main>
		</div>
	</body>
</html>