---
layout: kakuge_layout
---

{{ content }}

{% include kakugestuff.html %}

{% assign chr = site.data.bug.[page.kyara] %}
<div class="post_body">
	<div class="chatS">
		
		<table>
			<tr>
				<td>
					<h3>{{ topL }}Stats{{ cornerR }}</h3>
					<b><t-g>HP</t-g> • {{ chr.stats.hp }}</b><br/>
					<b><t-y>SP</t-y> • {{ chr.stats.sp }}</b><br/>
					
					<span>Traits</span>
					<div>
						{% for trait in chr.stats.traits %}
							<span>{{ trait.t }}<br/></span>
						{% endfor %}
					</div>
				</td>
				<td>
					<img src={{ chr.stats.image }} />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<!-- pros/cons -->
				</td>
			</tr>
		</table>
	</div>

	<h3>Normals</h3>
	<div class="chatS">
		{% for attack in chr.normals %}
			<img src={{ attack.image }} /><br/>
			<p>{{ attack.name | liquify }}<br/>{{ attack.description }}</p>
		{% endfor %}
		{{ cornerR }}
	</div>
</div>
