---
layout: kakuge_layout
sections: 
- ["Stats", "#stats"]
- ["Normals", "#normals"]
- ["Command Normals", "#cmds"]
- ["Throws", "#throws"]
- ["Skills", "#skills"]
- ["EX Skills", "#exs"]
---

{{ content }}

{% include kakugestuff.html %}
{% assign chr = site.data.bug.[page.kyara] %}
{% capture attackinfo %}{% raw %}	<div class="atkcont">
		<!-- name -->
		<div style="margin-bottom:4px">
			<div class="atkname" style="width:35%">
				{{ nesttopL }}
				<div style="font-size:16px">{{ attack.name | liquify }}</div>
				<div class="atkinput">{{ attack.input | liquify }}</div>
				{{ nestcornerR }}
			</div>
		</div>
		<!-- image -->
		<div class="atkimg">
			{% if attack.images %}
				{% for img in attack.images %}
					<img src={{ img.i }} />
				{% endfor %}
			{% endif %}
			{% if attack.comment %}
				<div class="comment">{{ attack.comment | liquify }}</div>
			{% endif %}
		</div>
		<!-- the entire right side -->
		<div class="atkinfo">
			{% if attack.versions %}
				{% for attack in attack.versions %}
					<div class="vercont">
							<div class="vername">
								{{ nesttopL }}
								<div style="line-height:1.1em">
									<div>
										{{ attack.name | liquify }}
									</div>
									<div class="atkinput">
										{{ attack.label | liquify }}
									</div>
								</div>
								{{ nestcornerR }}
							</div>
							{{ attacktable | liquify }}
					</div>
				{% endfor %}
			{% else %}
				{{ attacktable | liquify }}
			{% endif %}
			<p>{{ attack.description | liquify }}</p>
		</div>
	</div>{% endraw %}{% endcapture %}

{% capture attacktable %}{% raw %}				{% if attack.damage %}
					{% if attack.attributes.blue %}
						{% if attack.cost %}
							<div class="atkprop hasspc hascost">
						{% else %}
							<div class="atkprop hasspc">
						{% endif %}
					{% elsif attack.cost %}
						<div class="atkprop hascost">
					{% else %}
						<div class="atkprop">
					{% endif %}
						<!-- cost/prorate -->
						{% if attack.cost %}
							<div class="costcont">
								<div class="cost" style="flex:0 0 100px">
									<div class="atkname">{{ nesttopL }}Cost{{ nestcornerR }}</div>
									<div class="atkval">{{ attack.cost }}</div>
								</div>
								<div class="icp" style="float:left">
									<div class="atkname">{{ nesttopL }}IP{{ nestcornerR }}</div>
									<div class="atkval"><b>{{ attack.ip }}</b></div>
								</div>
								<div class="icp" style="float:right">
									<div class="atkname">{{ nesttopL }}CP{{ nestcornerR }}</div>
									<div class="atkval"><b>{{ attack.cp }}</b></div>
								</div>
							</div>
						{% else %}
							<div class="icpcont">
								<div class="icp">
									<div class="atkname">{{ nesttopL }}IP{{ nestcornerR }}</div>
									<div class="atkval"><b>{{ attack.ip }}</b></div>
								</div>
								<div class="icp">
									<div class="atkname">{{ nesttopL }}CP{{ nestcornerR }}</div>
									<div class="atkval"><b>{{ attack.cp }}</b></div>
								</div>
							</div>
						{% endif %}
						<!-- guard/damage -->
						<div class="grdcont">
							<div class="grd">
								<div class="atkname">{{ nesttopL }}Guard{{ nestcornerR }}</div>
								<div class="atkval"><b>{{ attack.attributes.guard }}</b></div>
							</div>
							<div class="dmg">
								<div class="atkname">{{ nesttopL }}Damage{{ nestcornerR }}</div>
								<div class="atkval"><b>{{ attack.damage }}</b></div>
							</div>
						</div>
						<!-- blue attr -->
						{% if attack.attributes.blue %}
							<div class="spc">
								<div class="atkname">{{ nesttopL }}Special{{ nestcornerR }}</div>
								<div class="attrbox">
									{% for attr in attack.attributes.blue %}
										<div>{{ attr.b }}</div>
									{% endfor %}
								</div>
							</div>
						{% endif %}
						<!-- red/green attr -->
						<div class="attrcont">
							<div class="attr">
								<div class="atkname">{{ nesttopL }}Attributes{{ nestcornerR }}</div>
								<div class="attrbox">
									{% if attack.attributes.green %}
										{% for attr in attack.attributes.green %}
											<div>{{ attr.g }}</div>
										{% endfor %}
									{% else %}
										<div><t-gr>-</t-gr></div>
									{% endif %}
								</div>
							</div>
							<div class="onhit">
								<div class="atkname">{{ nesttopL }}On hit{{ nestcornerR }}</div>
								<div class="attrbox">
									{% if attack.attributes.red %}
										{% for attr in attack.attributes.red %}
											<div>{{ attr.r }}</div>
										{% endfor %}
									{% else %}
										<div><t-gr>-</t-gr></div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				{% endif %}{% endraw %}{% endcapture %}


<div class="post_body">
	<div class="kyaratop">
		<!-- stats -->
		<div class="chatS" style="flex:1 1 480px">
			{{ topL }}
			<div class="statbox">
				<div class="procont">
					<div>
						<div style="text-align:center;font-size:16px;scroll-margin-top:144px" id="stats"><b>Stats</b></div>
						<div class="stats">
						{{ nesttopL }}
							<table style="text-align:center"><tr>
								<td><b><t-r>ＨＰ • </t-r>{{ chr.stats.hp }}</b></td>
								<td><b><t-y>ＳＰ • </t-y>{{ chr.stats.sp }}</b></td>
							</tr></table>
						{{ nestcornerR }}
						</div>
					</div>
						<div style="padding:0 4px;flex:0 0;"></div>
					<div>
						<div style="text-align:center;font-size:16px;color:var(--ao)"><b>Traits</b></div>
						<div class="traits">
							{{ nesttopL }}
							{% for trait in chr.stats.traits %}
								<div>{{ trait.t }}</div>
							{% endfor %}
							{{ nestcornerR }}
						</div>
					</div>

					<div>
						<div style="text-align:center;font-size:16px;color:var(--midori)"><b>Strengths</b></div>
						<div class="pros">
							{{ nesttopL }}
							{% for pro in chr.stats.pros %}
								<div>{{ pro.p }}</div>
							{% endfor %}
							{{ nestcornerR }}
						</div>
					</div>
						<div style="padding:0 4px;flex:0 0;"></div>
					<div>
						<div style="text-align:center;font-size:16px;color:var(--aka)"><b>Weaknesses</b></div>
						<div class="cons">
							{{ nesttopL }}
							{% for con in chr.stats.cons %}
								<div>{{ con.c }}</div>
							{% endfor %}
							{{ nestcornerR }}
						</div>
					</div>
					
					{% if chr.stats.album %}
						<div style="max-width:100%">
							<h3 id="stats">{{ nesttopL }}<a href="{{ chr.stats.album }}">Sketch Album</a>{{ nestcornerR }}</h3>
						</div>
					{% endif %}
				</div>
				<div class="kyaraimg"><img src="{{ chr.stats.image }}"/></div>
			</div>
			{{ cornerR }}
		</div>
	</div>

	<!-- moves -->
	<h3 id="normals">{{ topL }}<a class="collapse" role="button">Normals</a></h3>
	<div class="chatS movelist">
		{% for attack in chr.normals %}
			{{ attackinfo | liquify }}
		{% endfor %}
		{{ cornerR }}
	</div>

	<h3 id="cmds">{{ topL }}<a class="collapse" role="button">Command Normals</a></h3>
	<div class="chatS movelist">
		{% for attack in chr.commands %}
			{{ attackinfo | liquify }}
		{% endfor %}
		{{ cornerR }}
	</div>
	
	<h3 id="throws">{{ topL }}<a class="collapse" role="button">Throws</a></h3>
	<div class="chatS movelist">
		{% for attack in chr.throws %}
			{{ attackinfo | liquify }}
		{% endfor %}
		{{ cornerR }}
	</div>
	
	<h3 id="skills">{{ topL }}<a class="collapse" role="button">Skills</a></h3>
	<div class="chatS movelist">
		{% for attack in chr.skills %}
			{{ attackinfo | liquify }}
		{% endfor %}
		{{ cornerR }}
	</div>
	
	<h3  id="exs">{{ topL }}<a class="collapse" role="button">EX Skills</a></h3>
	<div class="chatS movelist">
		{% for attack in chr.exs %}
			{{ attackinfo | liquify }}
		{% endfor %}
		{{ cornerR }}
	</div>
	
</div>